@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


:root{
 --purple: #5280e2;
 --green: #15cdcb; 
 --bg-dark:#212226;  
 --menu-height:75px;
}

/*--------------CONFIGURAÇÃO GERAL------------------------*/

*{
    box-sizing: border-box;
}

html, body {
    margin :0;
}

body, button, input, select, textarea {
    font-family: 'poppins' ,sans-serif;
    color:white;  
    background: #212226;
}

h1{
    font-size:44px;
}

h2{
    font: size 24px;
}

h1, h2{
    margin: 0;
    font-weight: 400;
}

button{
    background: var(--purple);
    border: 0;
    border-radius:16px;
    padding: 8px 35px;
    color:white;
    font-weight:bold;
    font-size: 18px;
    margin-top: 40px;
}

.title-purple{
    color: var(--purple)
}

.title-green {
  color: var(--green);
}

p {
    color: var(--light-gray);

}

/*---------------------------HEADER-----------------------*/
header {
    height: calc(100vh - var(--menu-height));  /*toda a  altura da tela quando carrega 100vh  - a altura da nav 65px*/
    display: flex;/*alinha o header verticalmente, combinado com o height fit content e depois align item center*/
    align-items: center;
}

header .container {
    width: 50%;
    height: fit-content;
    padding: 0 100px;
    
}

header .container img {
    display: none;
}



nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--menu-height);
    background: var(--bg-dark);
    padding: 0 100px;
    position: sticky; /*mantem o menu fixo quando o scrool sobe*/
    top: 0;
}

nav img{
    height: 65px;
    

}

nav ul a{
    font-size: 20px;
    color: var(--green);
    text-decoration: none;
}

/*responsividade nav ul*/
nav ul{               
    width: 100%;
    display: flex;
    justify-content: space-around;
}

nav ul a svg {
    display:none;
}

.about-me{
    display:flex;
    padding: 100px;
}

.about-me .container{
    width: 50%;
    padding-right: 50px;
}

/* tamanho do container que abriga a imagem é de 50% da tela */
.about-me .img-container{
    width: 50%;
    text-align: center;
}

/* tamanho da imagem ocupando o espaço do container 100% do espaço */
.about-me .img-container img{
    width: 60%;
    border: 1px solid red;

}

/* responsividade */

@media (max-width: 1000px) {
    header .container {
        width: 100%;
    }

    nav ul a{
        font-size: 20px;
    }

    nav {
        padding: 0px;
    }


 
}

/* tablet */
@media (max-width:767px) {
 

    header .container img {
        display: inline;
        margin-bottom: 70px;
         height: 70px;
    }

  
    nav img {
        display : none;
       
    }

    nav ul {
        padding: 0;
    }

    nav ul a{
        font-size:16px;
    }
}
/* CELULAR */
@media(max-width:480px) {
    header .container {
        padding: 0 40px;
    }

    nav {
        position: fixed;
        bottom: 0;
        top:unset;
        width: 100%;
        padding: 0 15px;
    }

    nav ul a {
        font-size: 12px;
    }

    nav ul a svg{
        display: block;
        margin: 0 auto 10px;

    }
}